DNS-over-QUIC issues behind NAT

Hi. I'm the author of the Surge app, which might be one of the most popular custom DNS clients on iOS and macOS.

I have implemented the DoQ support in the latest version. But I found a severe issue. While using DoQ behind a NAT, an IPv4 cellular network usually, the client's UDP source port may change due to a very short UDP NAT timeout. After the port changes, the dnsproxy server still sends packets to the old port number.

Here is a packet capture sample (QUIC decrypted, dnsproxy version: v0.43.1).

The client sent the query with source port 8958
<img width="1430" alt="Screen Shot 2022-08-13 at 10 33 21 PM" src="https://user-images.githubusercontent.com/634138/184498797-6cc3b445-b99c-4369-bc0d-5f86491aba43.png">

But the server sent the answer to port 8947, which was used previously.

<img width="1430" alt="Screen Shot 2022-08-13 at 10 34 08 PM" src="https://user-images.githubusercontent.com/634138/184498817-26d9d3e6-1c20-463b-9f35-ffbd92328f07.png">

BTW. I'm a newbie for QUIC. Please let me know if I missed something. Thanks.


@crossutility

@crossutility 
plz lecture him what to do.

> @crossutility plz lecture him what to do.

If you mean the other app that implemented the DoQ support, I think I might know why the issue doesn't affect it. After some observation I found it re-initializes the QUIC session just after 30 seconds of idle.

<img width="1462" alt="Screen Shot 2022-08-14 at 12 31 27 AM" src="https://user-images.githubusercontent.com/634138/184502794-6d2f57e5-a337-4e7f-8308-b363afd38c14.png">

<img width="1462" alt="Screen Shot 2022-08-14 at 12 29 30 AM" src="https://user-images.githubusercontent.com/634138/184502795-d6e59aa9-5598-4dc5-829d-478aad6f70f8.png">

This is against the QUIC design principle. Frequently handshakes will slow down the DNS lookup delay, even slower than DNS-over-HTTPS, so what's the point of using the DoQ? Of course, most users won't notice a tiny bit of additional delay during handshakes. So it is a reasonable workaround but it makes DoQ useless.



> > @crossutility plz lecture him what to do.
> 
> If you mean the other app that implemented the DoQ support, I think I might know why the issue doesn't affect it. After some observation I found it re-initializes the QUIC session just after 30 seconds of idle.
> 
> <img alt="Screen Shot 2022-08-14 at 12 31 27 AM" width="1462" src="https://user-images.githubusercontent.com/634138/184502794-6d2f57e5-a337-4e7f-8308-b363afd38c14.png">
> 
> <img alt="Screen Shot 2022-08-14 at 12 29 30 AM" width="1462" src="https://user-images.githubusercontent.com/634138/184502795-d6e59aa9-5598-4dc5-829d-478aad6f70f8.png">
> 
> This is against the QUIC design principle. Frequently handshakes will slow down the DNS lookup delay, even slower than DNS-over-HTTPS, so what's the point of using the DoQ? Of course, most users won't notice a tiny bit of additional delay during handshakes. So it is a reasonable workaround but it makes DoQ useless.

In RFC 9250 section 4.4, it specify three ways to legally close connection, idle timeout is one of the legal methods. 
And I quote from section 4.4 in RFC 9250:"Closing on idle timeout is done without any packet exchange, which minimizes protocol overhead."  Section 10.1 in RFC9000 explains this process in a more detailed way.
So technically, this is not against the QUIC design principle. 
Use of QUIC is for better session resuming in a single RTT in a mobilized internet environment compared to DOT.

@Blankwonder 
Also, you are not strictly following the section 4.2.1 in RFC9250, "When forwarding a DNS message from another transport
   over DoQ, the Message ID MUST be set to 0."
![telegram-cloud-photo-size-5-6323183297533948151-y](https://user-images.githubusercontent.com/52652627/184504838-503f5e4c-95af-4678-8396-5db4f515ab21.jpg)


> 

Close a QUIC connection for an idle is definitely reasonable. What I emphasized is closing and re-establish a connection after a short timeout is wasting of resources and bad for the delay.

> @Blankwonder Also, you are not strictly following the section 4.2.1 in RFC9250, "When forwarding a DNS message from another transport over DoQ, the Message ID MUST be set to 0." ![telegram-cloud-photo-size-5-6323183297533948151-y](https://user-images.githubusercontent.com/52652627/184504838-503f5e4c-95af-4678-8396-5db4f515ab21.jpg)

**The Message ID** is the **Transaction ID** in the DNS section. And the QUIC STREAM definitely should not be zero.

> > @Blankwonder Also, you are not strictly following the section 4.2.1 in RFC9250, "When forwarding a DNS message from another transport over DoQ, the Message ID MUST be set to 0." ![telegram-cloud-photo-size-5-6323183297533948151-y](https://user-images.githubusercontent.com/52652627/184504838-503f5e4c-95af-4678-8396-5db4f515ab21.jpg)
> 
> **The Message ID** is the **Transaction ID** in the DNS section. And the QUIC STREAM ID definitely should not be zero.

You misunderstood my words. 
"When sending queries over a QUIC connection, the DNS Message ID MUST be set to 0. The stream mapping for DoQ allows for unambiguous correlation of queries and responses, so the Message ID field is not required."

> Close a QUIC connection for an idle is definitely reasonable. What I emphasized is closing and re-establish a connection after a short timeout is wasting of resources and bad for the delay.

This is too idealism, could you try with connection resuming? Google is doing this in their system update.

Reading some RFC documents won't make you an expert. According to your words, you have no idea what the DNS message ID and the QUIC stream ID are. The DNS packet uses a fixed format, and the Message ID (Transaction ID, or Query ID) field must exist and can only be set to zero (0x0000).

Please stop embarrassing yourself. You are not here to discuss or make any contribution. You are trying so hard to make yourself look right after making some condescending speech. The Open-Source community is for adults and not your playground.

> Reading some RFC documents won't make you an expert. According to your words, you have no idea what the DNS message ID and the QUIC stream ID are. The DNS packet uses a fixed format, and the Message ID (Transaction ID, or Query ID, just some different names) field must exist and can only be set to zero (0x0000).
> 
> Please stop embarrassing yourself. You are not here to discuss or make any contribution. You are trying so hard to make yourself look right after making some condescending speech. The Open-Source community is for adults and not your playground.

Re-establishing connections do waste tiny little bit of resources, but those are negligible.
Real problem lies behind the NAT firewall.  Firewall blocked the use traffic, previous connection turn invalid.  Re-establishing the connection is the best way to resume. 
Is it appropriate for the famous author of the Surge app, which might be one of the most popular custom DNS clients on iOS and macOS to do the trash talking?
It is rude to attack other people. I suggest brush your teeth and wash your mouth four times a day. 


Please do realize that attempting to `lecture` people is very rude in the first place. 

<img width="448" alt="image" src="https://user-images.githubusercontent.com/319494/184506538-989dbea2-2570-437c-a459-540e81ed1735.png">


> Re-establishing connections do waste tiny little bit of resources, but those are negligible.
> Real problem lies behind the NAT firewall. Firewall blocked the use traffic, previous connection turn invalid. Re-establishing the connection is the best way to resume.
> Is it appropriate for the famous author of the Surge app, which might be one of the most popular custom DNS clients on iOS and macOS to do the trash talking?
> It is rude to attack other people. I suggest brush your teeth and wash your mouth four times a day.



> Please do realize that attempting to `lecture` people is very rude in the first place.
> 
> <img alt="image" width="448" src="https://user-images.githubusercontent.com/319494/184506538-989dbea2-2570-437c-a459-540e81ed1735.png">
> 
> > Re-establishing connections do waste tiny little bit of resources, but those are negligible.
> > Real problem lies behind the NAT firewall. Firewall blocked the use traffic, previous connection turn invalid. Re-establishing the connection is the best way to resume.
> > Is it appropriate for the famous author of the Surge app, which might be one of the most popular custom DNS clients on iOS and macOS to do the trash talking?
> > It is rude to attack other people. I suggest brush your teeth and wash your mouth four times a day.

Lots of people already tried to tell him what he have done wrong, and he know the easiest way to fix the problem. 
A lecturer is need to told him what to do step by step. 
You can point out what is the real problem and propose a feasible method, chief.

> Please do realize that attempting to `lecture` people is very rude in the first place.
> 
> <img alt="image" width="448" src="https://user-images.githubusercontent.com/319494/184506538-989dbea2-2570-437c-a459-540e81ed1735.png">
> 
> > Re-establishing connections do waste tiny little bit of resources, but those are negligible.
> > Real problem lies behind the NAT firewall. Firewall blocked the use traffic, previous connection turn invalid. Re-establishing the connection is the best way to resume.
> > Is it appropriate for the famous author of the Surge app, which might be one of the most popular custom DNS clients on iOS and macOS to do the trash talking?
> > It is rude to attack other people. I suggest brush your teeth and wash your mouth four times a day.

And I already propose feasible method and point out the problem with NAT which shall mostly blamed by ISP. 
There is no perfect method. Any suggestions from you?


In case some of our users might be misled by one of these replies, our app doesn't have a so-called "30 second idle" implementation. The reply did not specifically refer to our app, so we did not quote it.

By the way, when a connection is broken or closed by remote or any issue occurs, a new connection should be initiated. Which we tend to call it normal logic process, others may see it as a workaround. Either way this should be done.

At last, it's normal and expected that each author has his or her considerations and implementations. It is very rude to lecture the other or to ask some one to lecture the other. And we don't like so-called fan thing, ours or others, the fan thing ruins everything.

> 一我们的一些用户可能被这些回复之一误导，我们的应用程序没有所谓的“30 秒空闲”实现。回复没有具体提到我们的应用程序，所以我们没有引用它。
> 
> 顺便说一句，当远程断开或关闭连接或发生任何问题时，应启动新连接。我们倾向于将其称为正常逻辑过程，其他人可能会将其视为一种解决方法。无论哪种方式，都应该这样做

给QX添加个小组件啊

It seems because quic-go does not implement connection migration https://github.com/lucas-clemente/quic-go/issues/234

Ref: 

> AdGuard Home 的问题是因为其依赖的上游项目 quic-go 禁用了 Connection Migration，而且 quic-go 在短期内似乎没有计划重新实施连接迁移。
> 
> _Originally posted by @ZeroClover in https://github.com/shawn1m/overture/issues/269#issuecomment-1214322813_

Well, to my knowledge there're no QUIC implementations that support connection migration yet.

> After some observation I found it re-initializes the QUIC session just after 30 seconds of idle.

Another solution would be to enable KeepAlive on QUIC connection. This way it will send a "ping" packet every 20 seconds and keep the connection alive:
https://github.com/AdguardTeam/dnsproxy/commit/401d87a3eb1159730f8963577037456b6ffe2d48

> Well, to my knowledge there're no QUIC implementations that support connection migration yet.
> 
> > After some observation I found it re-initializes the QUIC session just after 30 seconds of idle.
> 
> Another solution would be to enable KeepAlive on QUIC connection. This way it will send a "ping" packet every 20 seconds and keep the connection alive: [401d87a](https://github.com/AdguardTeam/dnsproxy/commit/401d87a3eb1159730f8963577037456b6ffe2d48)

Oh, that's sad. Thanks for the clarification. It seems that the passive connection migration (PCM) is essential to QUIC under a cellular network.

BTW, QUIC implementations in other languages do support connection migration, such as ngtcp2, quiche-google, and quiche-cloudflare. Since the quic-go has no plan to support the connection migration yet, you may consider using another implementation. But it may be troublesome since they don't have a golang interface.

Oh, quiche have finally added it? This is good news

> Oh, quiche have finally added it? This is good news

Andrey,

Will there be any issue between Google quiche & Cloudflare quiche, as their Programming Languages are different ?

Google Quiche - C++ 
Cloudflare Quiche  - Rust


Yep, we'll have to wait until it's added to quic-go (or maybe until Golang gets native QUIC implementation).