Responses always enable EDNS when caching is on

Now that I look at it again...

1. Run "`./dnsproxy -p 1053 -u tls://dns.adguard.com`".
2. Run "`dig +noedns -p 1053 example.com`". There is no EDNS in the response.

vs.:

1. Run "`./dnsproxy -p 1053 -u tls://dns.adguard.com --cache`".
2. Run "`dig +noedns -p 1053 example.com`". There is an EDNS OPT record in the response: dig shows "`ADDITIONAL: 1`", "`;; OPT PSEUDOSECTION:`" and a line that starts with "`; EDNS`".

I guess the OPT record is added here in a cache hit:

https://github.com/AdguardTeam/dnsproxy/blob/200e1aa9914c0172d5642aa405fbc896fb403f9e/proxy/proxy.go#L413-L418

and here in a cache miss:

https://github.com/AdguardTeam/dnsproxy/blob/200e1aa9914c0172d5642aa405fbc896fb403f9e/proxy/proxy.go#L472-L474

[RFC 6891 section 7](https://tools.ietf.org/html/rfc6891#section-7) says:

>    Lack of presence of an OPT record in a request MUST be taken as an
>    indication that the requestor does not implement any part of this
>    specification and that the responder MUST NOT include an OPT record
>    in its response.

I think `Resolve`'s calls to `d.Res.SetEdns0` should be wrapped in `if o != nil { }` or something.

(At this point, my brain has run out of steam, and I'm not certain if that's correct, or if it would cause other problems.)