AD bit isn't cleared from responses to non-AD/DO queries

[RFC 6840 section 5.8](https://tools.ietf.org/html/rfc6840#section-5.8) says:

>   In
>   order to interoperate with legacy stub resolvers and middleboxes that
>   neither understand nor ignore the AD bit, validating resolvers SHOULD
>   only set the AD bit when a response both meets the conditions listed
>   in [Section 3.2.3 of [RFC4035]](https://tools.ietf.org/html/rfc4035#section-3.2.3), and the request contained either a set
>   DO bit or a set AD bit.

Now that dnsproxy sets the `DO` bit in all queries to upstream servers when caching is enabled, it should clear the `AD` bit from responses to clients that did not request `AD` or `DO`.

(Note that `dig` sets the `AD` bit in queries by default. You have to use `dig +noad` to remove it.)

Compare the response to "`dig +noad -p 1053 example.com`" when running "`./dnsproxy -p 1053 -u tls://dns.google`" or "`./dnsproxy -p 1053 -u tls://dns.google --cache`". The former does not set the `AD` bit, the latter does.

(P.S. dnsproxy is great! Thank you! And the improvements in version 0.35.2 are great!)

@EugeneOne1 since you were consulting CoreDNS cache logic when implementing this, I wonder if it suffers from the same bug? If it is, it'd be better to file a bug report to them as well.

This should be fixed as of [v0.35.3](https://github.com/AdguardTeam/dnsproxy/releases/tag/v0.35.3).  Could you please check, if our solution fixes the issue for you?

It seems fixed to me. Thank you! :-)